<nav class="drawer-nav" aria-labelledby="midd-drawer-nav-label">
  <h2 class="visually-hidden" id="midd-drawer-nav-label">Navigation</h2>
  
  <ul class="drawer-nav__list drawer-nav__list--top">
                <li class="drawer-nav__item">

        <a href="" class="drawer-nav__link drawer-nav__link--top">Access</a>

                  <button
            class="drawer-nav__handle"
            data-toggle-target=".js-subnav-1"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="midd-subnav-1"
          >
            <svg class="icon drawer-nav__chevron" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>          </button>

          <ul class="drawer-nav__list drawer-nav__list--sub js-subnav-1" id="midd-subnav-1">
                          <li class="drawer-nav__item drawer-nav__item--sub">
                <a href="" class="drawer-nav__link drawer-nav__link--sub">First-Year Residential Complex</a>
                <button
                  class="drawer-nav__handle"
                  data-toggle-target=".js-subnav-11"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-controls="midd-subnav-11"
                >
                  <svg class="icon drawer-nav__chevron" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>                </button>
                <ul class="drawer-nav__list drawer-nav__list--sub js-subnav-11" id="midd-subnav-11">
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story A</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story B</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story C</a>
                    </li>
                                  </ul>
              </li>
                          <li class="drawer-nav__item drawer-nav__item--sub">
                <a href="" class="drawer-nav__link drawer-nav__link--sub">Student Center</a>
                <button
                  class="drawer-nav__handle"
                  data-toggle-target=".js-subnav-12"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-controls="midd-subnav-12"
                >
                  <svg class="icon drawer-nav__chevron" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>                </button>
                <ul class="drawer-nav__list drawer-nav__list--sub js-subnav-12" id="midd-subnav-12">
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story A</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story B</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story C</a>
                    </li>
                                  </ul>
              </li>
                          <li class="drawer-nav__item drawer-nav__item--sub">
                <a href="" class="drawer-nav__link drawer-nav__link--sub">Art Museum</a>
                <button
                  class="drawer-nav__handle"
                  data-toggle-target=".js-subnav-13"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-controls="midd-subnav-13"
                >
                  <svg class="icon drawer-nav__chevron" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>                </button>
                <ul class="drawer-nav__list drawer-nav__list--sub js-subnav-13" id="midd-subnav-13">
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story A</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story B</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story C</a>
                    </li>
                                  </ul>
              </li>
                          <li class="drawer-nav__item drawer-nav__item--sub">
                <a href="" class="drawer-nav__link drawer-nav__link--sub">Middlebury Institute Master Plan</a>
                <button
                  class="drawer-nav__handle"
                  data-toggle-target=".js-subnav-14"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-controls="midd-subnav-14"
                >
                  <svg class="icon drawer-nav__chevron" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>                </button>
                <ul class="drawer-nav__list drawer-nav__list--sub js-subnav-14" id="midd-subnav-14">
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story A</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story B</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story C</a>
                    </li>
                                  </ul>
              </li>
                          <li class="drawer-nav__item drawer-nav__item--sub">
                <a href="" class="drawer-nav__link drawer-nav__link--sub">Philanthropy in Action</a>
                <button
                  class="drawer-nav__handle"
                  data-toggle-target=".js-subnav-15"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-controls="midd-subnav-15"
                >
                  <svg class="icon drawer-nav__chevron" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>                </button>
                <ul class="drawer-nav__list drawer-nav__list--sub js-subnav-15" id="midd-subnav-15">
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story A</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story B</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story C</a>
                    </li>
                                  </ul>
              </li>
                          <li class="drawer-nav__item drawer-nav__item--sub">
                <a href="" class="drawer-nav__link drawer-nav__link--sub">Ways to Give</a>
                <button
                  class="drawer-nav__handle"
                  data-toggle-target=".js-subnav-16"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-controls="midd-subnav-16"
                >
                  <svg class="icon drawer-nav__chevron" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>                </button>
                <ul class="drawer-nav__list drawer-nav__list--sub js-subnav-16" id="midd-subnav-16">
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story A</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story B</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story C</a>
                    </li>
                                  </ul>
              </li>
                      </ul>
        
      </li>
                <li class="drawer-nav__item">

        <a href="" class="drawer-nav__link drawer-nav__link--top">Experience</a>

                  <button
            class="drawer-nav__handle"
            data-toggle-target=".js-subnav-2"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="midd-subnav-2"
          >
            <svg class="icon drawer-nav__chevron" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>          </button>

          <ul class="drawer-nav__list drawer-nav__list--sub js-subnav-2" id="midd-subnav-2">
                          <li class="drawer-nav__item drawer-nav__item--sub">
                <a href="" class="drawer-nav__link drawer-nav__link--sub">First-Year Residential Complex</a>
                <button
                  class="drawer-nav__handle"
                  data-toggle-target=".js-subnav-21"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-controls="midd-subnav-21"
                >
                  <svg class="icon drawer-nav__chevron" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>                </button>
                <ul class="drawer-nav__list drawer-nav__list--sub js-subnav-21" id="midd-subnav-21">
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story A</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story B</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story C</a>
                    </li>
                                  </ul>
              </li>
                          <li class="drawer-nav__item drawer-nav__item--sub">
                <a href="" class="drawer-nav__link drawer-nav__link--sub">Student Center</a>
                <button
                  class="drawer-nav__handle"
                  data-toggle-target=".js-subnav-22"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-controls="midd-subnav-22"
                >
                  <svg class="icon drawer-nav__chevron" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>                </button>
                <ul class="drawer-nav__list drawer-nav__list--sub js-subnav-22" id="midd-subnav-22">
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story A</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story B</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story C</a>
                    </li>
                                  </ul>
              </li>
                          <li class="drawer-nav__item drawer-nav__item--sub">
                <a href="" class="drawer-nav__link drawer-nav__link--sub">Art Museum</a>
                <button
                  class="drawer-nav__handle"
                  data-toggle-target=".js-subnav-23"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-controls="midd-subnav-23"
                >
                  <svg class="icon drawer-nav__chevron" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>                </button>
                <ul class="drawer-nav__list drawer-nav__list--sub js-subnav-23" id="midd-subnav-23">
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story A</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story B</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story C</a>
                    </li>
                                  </ul>
              </li>
                          <li class="drawer-nav__item drawer-nav__item--sub">
                <a href="" class="drawer-nav__link drawer-nav__link--sub">Middlebury Institute Master Plan</a>
                <button
                  class="drawer-nav__handle"
                  data-toggle-target=".js-subnav-24"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-controls="midd-subnav-24"
                >
                  <svg class="icon drawer-nav__chevron" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>                </button>
                <ul class="drawer-nav__list drawer-nav__list--sub js-subnav-24" id="midd-subnav-24">
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story A</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story B</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story C</a>
                    </li>
                                  </ul>
              </li>
                          <li class="drawer-nav__item drawer-nav__item--sub">
                <a href="" class="drawer-nav__link drawer-nav__link--sub">Philanthropy in Action</a>
                <button
                  class="drawer-nav__handle"
                  data-toggle-target=".js-subnav-25"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-controls="midd-subnav-25"
                >
                  <svg class="icon drawer-nav__chevron" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>                </button>
                <ul class="drawer-nav__list drawer-nav__list--sub js-subnav-25" id="midd-subnav-25">
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story A</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story B</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story C</a>
                    </li>
                                  </ul>
              </li>
                          <li class="drawer-nav__item drawer-nav__item--sub">
                <a href="" class="drawer-nav__link drawer-nav__link--sub">Ways to Give</a>
                <button
                  class="drawer-nav__handle"
                  data-toggle-target=".js-subnav-26"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-controls="midd-subnav-26"
                >
                  <svg class="icon drawer-nav__chevron" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>                </button>
                <ul class="drawer-nav__list drawer-nav__list--sub js-subnav-26" id="midd-subnav-26">
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story A</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story B</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story C</a>
                    </li>
                                  </ul>
              </li>
                      </ul>
        
      </li>
                <li class="drawer-nav__item">

        <a href="" class="drawer-nav__link drawer-nav__link--top">Academic Excellence</a>

                  <button
            class="drawer-nav__handle"
            data-toggle-target=".js-subnav-3"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="midd-subnav-3"
          >
            <svg class="icon drawer-nav__chevron" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>          </button>

          <ul class="drawer-nav__list drawer-nav__list--sub js-subnav-3" id="midd-subnav-3">
                          <li class="drawer-nav__item drawer-nav__item--sub">
                <a href="" class="drawer-nav__link drawer-nav__link--sub">First-Year Residential Complex</a>
                <button
                  class="drawer-nav__handle"
                  data-toggle-target=".js-subnav-31"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-controls="midd-subnav-31"
                >
                  <svg class="icon drawer-nav__chevron" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>                </button>
                <ul class="drawer-nav__list drawer-nav__list--sub js-subnav-31" id="midd-subnav-31">
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story A</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story B</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story C</a>
                    </li>
                                  </ul>
              </li>
                          <li class="drawer-nav__item drawer-nav__item--sub">
                <a href="" class="drawer-nav__link drawer-nav__link--sub">Student Center</a>
                <button
                  class="drawer-nav__handle"
                  data-toggle-target=".js-subnav-32"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-controls="midd-subnav-32"
                >
                  <svg class="icon drawer-nav__chevron" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>                </button>
                <ul class="drawer-nav__list drawer-nav__list--sub js-subnav-32" id="midd-subnav-32">
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story A</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story B</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story C</a>
                    </li>
                                  </ul>
              </li>
                          <li class="drawer-nav__item drawer-nav__item--sub">
                <a href="" class="drawer-nav__link drawer-nav__link--sub">Art Museum</a>
                <button
                  class="drawer-nav__handle"
                  data-toggle-target=".js-subnav-33"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-controls="midd-subnav-33"
                >
                  <svg class="icon drawer-nav__chevron" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>                </button>
                <ul class="drawer-nav__list drawer-nav__list--sub js-subnav-33" id="midd-subnav-33">
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story A</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story B</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story C</a>
                    </li>
                                  </ul>
              </li>
                          <li class="drawer-nav__item drawer-nav__item--sub">
                <a href="" class="drawer-nav__link drawer-nav__link--sub">Middlebury Institute Master Plan</a>
                <button
                  class="drawer-nav__handle"
                  data-toggle-target=".js-subnav-34"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-controls="midd-subnav-34"
                >
                  <svg class="icon drawer-nav__chevron" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>                </button>
                <ul class="drawer-nav__list drawer-nav__list--sub js-subnav-34" id="midd-subnav-34">
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story A</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story B</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story C</a>
                    </li>
                                  </ul>
              </li>
                          <li class="drawer-nav__item drawer-nav__item--sub">
                <a href="" class="drawer-nav__link drawer-nav__link--sub">Philanthropy in Action</a>
                <button
                  class="drawer-nav__handle"
                  data-toggle-target=".js-subnav-35"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-controls="midd-subnav-35"
                >
                  <svg class="icon drawer-nav__chevron" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>                </button>
                <ul class="drawer-nav__list drawer-nav__list--sub js-subnav-35" id="midd-subnav-35">
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story A</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story B</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story C</a>
                    </li>
                                  </ul>
              </li>
                          <li class="drawer-nav__item drawer-nav__item--sub">
                <a href="" class="drawer-nav__link drawer-nav__link--sub">Ways to Give</a>
                <button
                  class="drawer-nav__handle"
                  data-toggle-target=".js-subnav-36"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-controls="midd-subnav-36"
                >
                  <svg class="icon drawer-nav__chevron" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>                </button>
                <ul class="drawer-nav__list drawer-nav__list--sub js-subnav-36" id="midd-subnav-36">
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story A</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story B</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story C</a>
                    </li>
                                  </ul>
              </li>
                      </ul>
        
      </li>
                <li class="drawer-nav__item">

        <a href="" class="drawer-nav__link drawer-nav__link--top">Capital Projects</a>

                  <button
            class="drawer-nav__handle"
            data-toggle-target=".js-subnav-4"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="midd-subnav-4"
          >
            <svg class="icon drawer-nav__chevron" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>          </button>

          <ul class="drawer-nav__list drawer-nav__list--sub js-subnav-4" id="midd-subnav-4">
                          <li class="drawer-nav__item drawer-nav__item--sub">
                <a href="" class="drawer-nav__link drawer-nav__link--sub">First-Year Residential Complex</a>
                <button
                  class="drawer-nav__handle"
                  data-toggle-target=".js-subnav-41"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-controls="midd-subnav-41"
                >
                  <svg class="icon drawer-nav__chevron" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>                </button>
                <ul class="drawer-nav__list drawer-nav__list--sub js-subnav-41" id="midd-subnav-41">
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story A</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story B</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story C</a>
                    </li>
                                  </ul>
              </li>
                          <li class="drawer-nav__item drawer-nav__item--sub">
                <a href="" class="drawer-nav__link drawer-nav__link--sub">Student Center</a>
                <button
                  class="drawer-nav__handle"
                  data-toggle-target=".js-subnav-42"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-controls="midd-subnav-42"
                >
                  <svg class="icon drawer-nav__chevron" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>                </button>
                <ul class="drawer-nav__list drawer-nav__list--sub js-subnav-42" id="midd-subnav-42">
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story A</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story B</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story C</a>
                    </li>
                                  </ul>
              </li>
                          <li class="drawer-nav__item drawer-nav__item--sub">
                <a href="" class="drawer-nav__link drawer-nav__link--sub">Art Museum</a>
                <button
                  class="drawer-nav__handle"
                  data-toggle-target=".js-subnav-43"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-controls="midd-subnav-43"
                >
                  <svg class="icon drawer-nav__chevron" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>                </button>
                <ul class="drawer-nav__list drawer-nav__list--sub js-subnav-43" id="midd-subnav-43">
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story A</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story B</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story C</a>
                    </li>
                                  </ul>
              </li>
                          <li class="drawer-nav__item drawer-nav__item--sub">
                <a href="" class="drawer-nav__link drawer-nav__link--sub">Middlebury Institute Master Plan</a>
                <button
                  class="drawer-nav__handle"
                  data-toggle-target=".js-subnav-44"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-controls="midd-subnav-44"
                >
                  <svg class="icon drawer-nav__chevron" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>                </button>
                <ul class="drawer-nav__list drawer-nav__list--sub js-subnav-44" id="midd-subnav-44">
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story A</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story B</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story C</a>
                    </li>
                                  </ul>
              </li>
                      </ul>
        
      </li>
                <li class="drawer-nav__item">

        <a href="" class="drawer-nav__link drawer-nav__link--top">Philanthropy in Action</a>

                  <button
            class="drawer-nav__handle"
            data-toggle-target=".js-subnav-5"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="midd-subnav-5"
          >
            <svg class="icon drawer-nav__chevron" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>          </button>

          <ul class="drawer-nav__list drawer-nav__list--sub js-subnav-5" id="midd-subnav-5">
                          <li class="drawer-nav__item drawer-nav__item--sub">
                <a href="" class="drawer-nav__link drawer-nav__link--sub">Story A</a>
                <button
                  class="drawer-nav__handle"
                  data-toggle-target=".js-subnav-51"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-controls="midd-subnav-51"
                >
                  <svg class="icon drawer-nav__chevron" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>                </button>
                <ul class="drawer-nav__list drawer-nav__list--sub js-subnav-51" id="midd-subnav-51">
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story A</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story B</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story C</a>
                    </li>
                                  </ul>
              </li>
                          <li class="drawer-nav__item drawer-nav__item--sub">
                <a href="" class="drawer-nav__link drawer-nav__link--sub">Story B</a>
                <button
                  class="drawer-nav__handle"
                  data-toggle-target=".js-subnav-52"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-controls="midd-subnav-52"
                >
                  <svg class="icon drawer-nav__chevron" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>                </button>
                <ul class="drawer-nav__list drawer-nav__list--sub js-subnav-52" id="midd-subnav-52">
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story A</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story B</a>
                    </li>
                                      <li class="drawer-nav__item drawer-nav__item--sub">
                      <a href="" class="drawer-nav__link drawer-nav__link--sub drawer-nav__link--sub-item">Story C</a>
                    </li>
                                  </ul>
              </li>
                      </ul>
        
      </li>
                <li class="drawer-nav__item">

        <a href="" class="drawer-nav__link drawer-nav__link--top">Ways to Give</a>

        
      </li>
    
  </ul>
</nav>