<div class="drawer" id="midd-nav-drawer" aria-hidden="true">
  <div class="drawer__overlay" tabindex="-1" data-drawer-close>
    <div class="drawer__content" role="dialog" aria-modal="true" aria-labelledby="midd-modal-1-title">
      <div class="drawer__header">
        <h2 class="visually-hidden" id="midd-modal-1-title"></h2>
        <button class="drawer__close" aria-label="Close modal" data-drawer-close>
          <svg class="icon " focusable="false" aria-hidden="true">
  <use xlink:href="#icon-times">
</svg>        </button>
      </div>
      <div id="midd-modal-1-content">
              </div>
    </div>
  </div>
</div>