<nav class="footer">
  <h2 class="visually-hidden">
    Additional Navigation
  </h2>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="mb-lg-0">
          <a href="https://www.middlebury.edu">
            <img src="img/middlebury-logo-white.svg"
              alt="Middlebury"
              width="195"
              height="71"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-9">
        <ul class="footer__list">
                      <li class="footer__item">
              <a href="http://www.middlebury.edu/about" class="footer__link">
                About Middlebury
              </a>
            </li>
                      <li class="footer__item">
              <a href="http://www.middlebury.edu/giving" class="footer__link">
                Giving
              </a>
            </li>
                      <li class="footer__item">
              <a href="http://www.middlebury.edu/offices/business/hr/jobseeker" class="footer__link">
                Employment
              </a>
            </li>
                      <li class="footer__item">
              <a href="http://www.middlebury.edu/office/" class="footer__link">
                Offices and Services
              </a>
            </li>
                      <li class="footer__item">
              <a href="http://www.middlebury.edu/about/copyright" class="footer__link">
                Copyright
              </a>
            </li>
                      <li class="footer__item">
              <a href="http://www.middlebury.edu/about/privacy" class="footer__link">
                Privacy
              </a>
            </li>
                      <li class="footer__item">
              <a href="#" class="footer__link">
                Site-Editor Login
              </a>
            </li>
                  </ul>
      </div>
    </div>
  </div>
</nav>