<nav class="mega-menu" id="header__nav-handle" aria-labelledby="midd-drawer-nav-label">
  <h2 class="visually-hidden" id="midd-drawer-nav-label">Navigation</h2>
  <div class="container px-0">
    <div class="col-lg-9 px-0 mega-menu__wrapper">
      <div class="row ml-0">
                      <div class="col-lg-4 mega-menu__sub-nav">
              <div class="mega-menu__items">
                <h3><a href="#">Access</a></h3>
                <ul>
                                    <li>
                    <a href="#">First-Year Residential Complex</a>
                                      </li>
                                  </ul>
              </div>
            </div>
                      <div class="col-lg-4 mega-menu__sub-nav">
              <div class="mega-menu__items">
                <h3><a href="#">Experience</a></h3>
                <ul>
                                    <li>
                    <a href="#">First-Year Residential Complex</a>
                                      </li>
                                    <li>
                    <a href="#">Student Center</a>
                                          <ul>
                                                  <li><a href="#">Story A</a></li>
                                              </ul>
                                      </li>
                                    <li>
                    <a href="#">Art Museum</a>
                                      </li>
                                    <li>
                    <a href="#">Middlebury Institute Master Plan</a>
                                      </li>
                                  </ul>
              </div>
            </div>
                      <div class="col-lg-4 mega-menu__sub-nav">
              <div class="mega-menu__items">
                <h3><a href="#">Academic Excellence</a></h3>
                <ul>
                                    <li>
                    <a href="#">First-Year Residential Complex</a>
                                          <ul>
                                                  <li><a href="#">Story A</a></li>
                                                  <li><a href="#">Story B</a></li>
                                              </ul>
                                      </li>
                                    <li>
                    <a href="#">Student Center</a>
                                      </li>
                                  </ul>
              </div>
            </div>
                      <div class="col-lg-4 mega-menu__sub-nav">
              <div class="mega-menu__items">
                <h3><a href="#">Capital Projects</a></h3>
                <ul>
                                    <li>
                    <a href="#">First-Year Residential Complex</a>
                                          <ul>
                                                  <li><a href="#">Story A</a></li>
                                              </ul>
                                      </li>
                                  </ul>
              </div>
            </div>
                      <div class="col-lg-4 mega-menu__sub-nav">
              <div class="mega-menu__items">
                <h3><a href="#">Philanthropy in Action</a></h3>
                <ul>
                                    <li>
                    <a href="#">First-Year Residential Complex</a>
                                          <ul>
                                                  <li><a href="#">Story A</a></li>
                                              </ul>
                                      </li>
                                    <li>
                    <a href="#">Student Center</a>
                                      </li>
                                    <li>
                    <a href="#">Art Museum</a>
                                      </li>
                                  </ul>
              </div>
            </div>
                      <div class="col-lg-4 mega-menu__sub-nav">
              <div class="mega-menu__items">
                <h3><a href="#">Ways to Give</a></h3>
                <ul>
                                    <li>
                    <a href="#">First-Year Residential Complex</a>
                                          <ul>
                                                  <li><a href="#">Story A</a></li>
                                                  <li><a href="#">Story B</a></li>
                                              </ul>
                                      </li>
                                  </ul>
              </div>
            </div>
                </div>
    </div>
  </div>
</nav>