<div class="container px-0">

  <header class="page-header" aria-labelledby="midd-page-header-label">

    <div class="page-header__main">
      <div class="page-header__content">

        <h1 class="page-header__title" id="midd-page-header-label"></h1>

      </div>
    </div>
  </header>

  
  <nav class="page-nav--header col-md-10 offset-md-1 col-lg-3 offset-lg-0 mb-4" aria-labelledby="midd-page-nav-label">
    <button
      class="page-nav__button"
      data-toggle-target=".js-page-nav"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Additional Navigation
      <svg class="icon page-nav__icon" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>    </button>
    <div class="page-nav--header-wrapper js-page-nav">
      <div class="page-nav__content">
        <h1 class="page-nav__title" id="midd-page-nav-label">
          <a href="#" class="page-nav__link">Lorem ipsum</a>
        </h1>

          <ul class="page-nav__list">
      </ul>

      </div>
    </div>
  </nav>
</div>
