<article class="clearfix" aria-labelledby="midd-story-label-">
      <div class="text-center text-sm-left float-sm-right mb-2 mb-sm-0 ml-sm-4">
      <a href="">
        <figure class="media">
            
  
      
          
        
    
          
        
    
          
        
    
  
      <!-- image style: story_teaser -->
  
  <img src="https://via.placeholder.com/296x166" srcset="https://via.placeholder.com/224x126 224w,https://via.placeholder.com/288x162 288w,https://via.placeholder.com/296x166 296w"  sizes="(max-width: 512px) 288px, (max-width: 768px) 224px, 296px"  alt=""/>

        </figure>
      </a>
    </div>
  
  <h2 class="story__title mb-2" id="midd-story-label-">
    <a href="#">
              Shorter headline a few words
          </a>
  </h2>
  <p class="story__blurb">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum rem dolor harum consequuntur laudantium commodi accusantium debitis quisquam eligendi deleniti itaque saepe voluptatibus soluta necessitatibus, voluptas minus possimus? Itaque, sed.</p>
</article>