<ul class="list list--dividers mb-5 mb-sm-7 mt-2 mt-md-4 mt-lg-0">
  <li class="list__item">
    <article class="clearfix" aria-labelledby="midd-story-label-1">
      <div class="text-center text-sm-left float-sm-right mb-2 mb-sm-0 ml-sm-4">
      <a href="">
        <figure class="media">
            
  
      
          
        
    
          
        
    
          
        
    
  
      <!-- image style: story_teaser -->
  
  <img src="https://via.placeholder.com/296x166" srcset="https://via.placeholder.com/224x126 224w,https://via.placeholder.com/288x162 288w,https://via.placeholder.com/296x166 296w"  sizes="(max-width: 512px) 288px, (max-width: 768px) 224px, 296px"  alt=""/>

        </figure>
      </a>
    </div>
  
  <h2 class="story__title mb-2" id="midd-story-label-1">
    <a href="#">
              Shorter headline a few words
          </a>
  </h2>
  <p class="story__blurb">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum rem dolor harum consequuntur laudantium commodi accusantium debitis quisquam eligendi deleniti itaque saepe voluptatibus soluta necessitatibus, voluptas minus possimus? Itaque, sed.</p>
</article>  </li>

      <li class="list__item">
      <article class="clearfix" aria-labelledby="midd-story-label-1">
      <div class="text-center text-sm-left float-sm-right mb-2 mb-sm-0 ml-sm-4">
      <a href="">
        <figure class="media">
            
  
      
          
        
    
          
        
    
          
        
    
  
      <!-- image style: story_teaser -->
  
  <img src="https://via.placeholder.com/296x166" srcset="https://via.placeholder.com/224x126 224w,https://via.placeholder.com/288x162 288w,https://via.placeholder.com/296x166 296w"  sizes="(max-width: 512px) 288px, (max-width: 768px) 224px, 296px"  alt=""/>

        </figure>
      </a>
    </div>
  
  <h2 class="story__title mb-2" id="midd-story-label-1">
    <a href="#">
              Shorter headline a few words
          </a>
  </h2>
  <p class="story__blurb">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum rem dolor harum consequuntur laudantium commodi accusantium debitis quisquam eligendi deleniti itaque saepe voluptatibus soluta necessitatibus, voluptas minus possimus? Itaque, sed.</p>
</article>    </li>
      <li class="list__item">
      <article class="clearfix" aria-labelledby="midd-story-label-2">
      <div class="text-center text-sm-left float-sm-right mb-2 mb-sm-0 ml-sm-4">
      <a href="">
        <figure class="media">
            
  
      
          
        
    
          
        
    
          
        
    
  
      <!-- image style: story_teaser -->
  
  <img src="https://via.placeholder.com/296x166" srcset="https://via.placeholder.com/224x126 224w,https://via.placeholder.com/288x162 288w,https://via.placeholder.com/296x166 296w"  sizes="(max-width: 512px) 288px, (max-width: 768px) 224px, 296px"  alt=""/>

        </figure>
      </a>
    </div>
  
  <h2 class="story__title mb-2" id="midd-story-label-2">
    <a href="#">
              Shorter headline a few words
          </a>
  </h2>
  <p class="story__blurb">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum rem dolor harum consequuntur laudantium commodi accusantium debitis quisquam eligendi deleniti itaque saepe voluptatibus soluta necessitatibus, voluptas minus possimus? Itaque, sed.</p>
</article>    </li>
      <li class="list__item">
      <article class="clearfix" aria-labelledby="midd-story-label-3">
      <div class="text-center text-sm-left float-sm-right mb-2 mb-sm-0 ml-sm-4">
      <a href="">
        <figure class="media">
            
  
      
          
        
    
          
        
    
          
        
    
  
      <!-- image style: story_teaser -->
  
  <img src="https://via.placeholder.com/296x166" srcset="https://via.placeholder.com/224x126 224w,https://via.placeholder.com/288x162 288w,https://via.placeholder.com/296x166 296w"  sizes="(max-width: 512px) 288px, (max-width: 768px) 224px, 296px"  alt=""/>

        </figure>
      </a>
    </div>
  
  <h2 class="story__title mb-2" id="midd-story-label-3">
    <a href="#">
              Longer headline starting here lorem ipsum dolor sit amet consectetur adipisicing elit
          </a>
  </h2>
  <p class="story__blurb">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum rem dolor harum consequuntur laudantium commodi accusantium debitis quisquam eligendi deleniti itaque saepe voluptatibus soluta necessitatibus, voluptas minus possimus? Itaque, sed.</p>
</article>    </li>
      <li class="list__item">
      <article class="clearfix" aria-labelledby="midd-story-label-4">
      <div class="text-center text-sm-left float-sm-right mb-2 mb-sm-0 ml-sm-4">
      <a href="">
        <figure class="media">
            
  
      
          
        
    
          
        
    
          
        
    
  
      <!-- image style: story_teaser -->
  
  <img src="https://via.placeholder.com/296x166" srcset="https://via.placeholder.com/224x126 224w,https://via.placeholder.com/288x162 288w,https://via.placeholder.com/296x166 296w"  sizes="(max-width: 512px) 288px, (max-width: 768px) 224px, 296px"  alt=""/>

        </figure>
      </a>
    </div>
  
  <h2 class="story__title mb-2" id="midd-story-label-4">
    <a href="#">
              Longer headline starting here lorem ipsum dolor sit amet consectetur adipisicing elit
          </a>
  </h2>
  <p class="story__blurb">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum rem dolor harum consequuntur laudantium commodi accusantium debitis quisquam eligendi deleniti itaque saepe voluptatibus soluta necessitatibus, voluptas minus possimus? Itaque, sed.</p>
</article>    </li>
  
</ul>

<nav class="pagination">
  <ul class="pagination__list">
    <li class="pagination__item pagination__item--previous">
      <a href="#" class="pagination__link">Previous</a>
    </li>
    <li class="pagination__item pagination__item--first"><a href="" class="pagination__link">1</a></li>
    <li class="pagination__item pagination__item--others"><span>&hellip;</span></li>
    <li class="pagination__item"><a href="" class="pagination__link">2</a></li>
    <li class="pagination__item"><a href="" class="pagination__link">3</a></li>
    <li class="pagination__item pagination__item--active"><a href="" class="pagination__link pagination__link--active">4</a></li>
    <li class="pagination__item"><a href="" class="pagination__link">5</a></li>
    <li class="pagination__item pagination__item--others"><span>&hellip;</span></li>
    <li class="pagination__item pagination__item--last"><a href="" class="pagination__link">21</a></li>
    <li class="pagination__item pagination__item--next">
      <a href="#" class="pagination__link">Next</a>
    </li>
  </ul>
</nav>