<div class="container">
  <div class="row">
    
    <div class="paragraphs paragraphs--wide">
              <h2 class="lead">Empower young people in one of the most rigorous, immersive, globally engaged experiences in the liberal arts and sciences.</h2>        <figure class="paragraph--video video js-video" data-video='<iframe src="https://player.vimeo.com/video/221201240?autoplay=1" width="400" height="225" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen allow="autoplay"></iframe>'>
    <div class="video__content js-video-content">
      <a
        href="https://player.vimeo.com/video/221201240"
        class="js-video-link video__link"
        role="button"
        aria-label="Play video"
        aria-describedby="midd-video-label-682" 
      >
          
  
      
          
        
    
          
        
    
          
        
    
  
      <!-- image style: video -->
  
  <img src="https://via.placeholder.com/896x504" srcset="https://via.placeholder.com/400x225 400w,https://via.placeholder.com/640x360 640w,https://via.placeholder.com/896x504 896w"  sizes="(max-width: 896px) 100vw, 896px"  alt=""/>

        <div class="video__front ">
                    <span class="button button--primary video__button">
            <span class="video__button--text-before">52 seconds</span><span class="video__button--text-after">Play
                <span class="ml-2">
                    <svg class="icon video__button--play" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-play">
</svg>                </span>
              </span>
            </span>
          </span>
        </div>
      </a>
    </div>
  <figcaption>
          <h3 class="visually-hidden" id="midd-video-label-682">Why Middlebury? Why Now?</h3>
        <div class="transcript js-transcript-682 ">
  <a href="#midd-transcript-682"
    class="transcript__button"
    data-toggle-target=".js-transcript-682"
    aria-lavel="Toggle transcript"
    aria-expanded="false"
    role="button"
  >
    Transcript
  </a>
  <div class="transcript__body" id="midd-transcript-682">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, amet aut et maxime dolorum accusamus iste quia labore nulla doloremque aliquam repudiandae, voluptates reiciendis ratione, tempora magnam repellendus distinctio debitis!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, amet aut et maxime dolorum accusamus iste quia labore nulla doloremque aliquam repudiandae, voluptates reiciendis ratione, tempora magnam repellendus distinctio debitis!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, amet aut et maxime dolorum accusamus iste quia labore nulla doloremque aliquam repudiandae, voluptates reiciendis ratione, tempora magnam repellendus distinctio debitis!</p>
  </div>
</div>  </figcaption>
</figure>
<div class="paragraph--text text">
  <div class="container">
    <div class="col-md-10 offset-md-1">
      <hr>
  <p>Because understanding the world and finding value in our differences has never been more urgent than it is today.</p>
  <hr>
    </div>
  </div>
</div>
<section class="paragraph--tri-story section" aria-labelledby="midd-profile-spotlight-label-1">
  <div class="container">
    <div class="section__header">
      <h1 class="section__title">What Really Matters Here</h1>
              <p class="section__blurb">Our Priorities, Your Opportunity</p>
          </div>
    <ul class="row">
              <li class="col-md-4">
          <article
            class="tri-story-item"
            aria-labelledby="midd-profile-spotlight-item-label-1"
          >
            <div class="tri-story-item__media">
              <a href="">
                  
  
      
          
        
    
          
        
    
          
        
    
          
        
    
  
      <!-- image style: tri_story_item -->
  
  <img src="https://via.placeholder.com/414x552" srcset="https://via.placeholder.com/90x120 90w,https://via.placeholder.com/144x192 144w,https://via.placeholder.com/288x384 288w,https://via.placeholder.com/414x552 414w"  sizes="(max-width: 414px) 100vw, 414px"  alt=""/>

              </a>
            </div>
            <div class="tri-story-item__content">
              <h3 class="tri-story-item__content--heading" id="media-profile-spotlight-item-label-1">Access</h3>
              <p class="tri-story-item__content--text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dicta, temporibus ex quod voluptatem eum, sint consectetur fugiat officiis voluptates reiciendis excepturi consequatur iste, dolorem eos odio harum numquam eveniet!</p>
              <a>Details</a>
            </div>
          </article>
        </li>
              <li class="col-md-4">
          <article
            class="tri-story-item"
            aria-labelledby="midd-profile-spotlight-item-label-2"
          >
            <div class="tri-story-item__media">
              <a href="">
                  
  
      
          
        
    
          
        
    
          
        
    
          
        
    
  
      <!-- image style: tri_story_item -->
  
  <img src="https://via.placeholder.com/414x552" srcset="https://via.placeholder.com/90x120 90w,https://via.placeholder.com/144x192 144w,https://via.placeholder.com/288x384 288w,https://via.placeholder.com/414x552 414w"  sizes="(max-width: 414px) 100vw, 414px"  alt=""/>

              </a>
            </div>
            <div class="tri-story-item__content">
              <h3 class="tri-story-item__content--heading" id="media-profile-spotlight-item-label-2">Academic Excellence</h3>
              <p class="tri-story-item__content--text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dicta, temporibus ex quod voluptatem eum, sint consectetur fugiat officiis voluptates reiciendis excepturi consequatur iste, dolorem eos odio harum numquam eveniet!</p>
              <a>Details</a>
            </div>
          </article>
        </li>
              <li class="col-md-4">
          <article
            class="tri-story-item"
            aria-labelledby="midd-profile-spotlight-item-label-3"
          >
            <div class="tri-story-item__media">
              <a href="">
                  
  
      
          
        
    
          
        
    
          
        
    
          
        
    
  
      <!-- image style: tri_story_item -->
  
  <img src="https://via.placeholder.com/414x552" srcset="https://via.placeholder.com/90x120 90w,https://via.placeholder.com/144x192 144w,https://via.placeholder.com/288x384 288w,https://via.placeholder.com/414x552 414w"  sizes="(max-width: 414px) 100vw, 414px"  alt=""/>

              </a>
            </div>
            <div class="tri-story-item__content">
              <h3 class="tri-story-item__content--heading" id="media-profile-spotlight-item-label-3">Experience</h3>
              <p class="tri-story-item__content--text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dicta, temporibus ex quod voluptatem eum, sint consectetur fugiat officiis voluptates reiciendis excepturi consequatur iste, dolorem eos odio harum numquam eveniet!</p>
              <a>Details</a>
            </div>
          </article>
        </li>
          </ul>
  </div>
</section>
<hr>

<section class="paragraph--mega-cta mega-cta section" aria-labelledby="midd-mega-cta-label-878">
  <figure class="mega-cta__back">
      
  
      
          
        
    
          
        
    
          
        
    
  
      <!-- image style: mega_cta -->
  
  <img src="https://via.placeholder.com/896x504" srcset="https://via.placeholder.com/400x225 400w,https://via.placeholder.com/640x360 640w,https://via.placeholder.com/896x504 896w"  sizes="(max-width: 896px) 100vw, 896px"  alt=""/>

  </figure>

  <div class="mega-cta__front">
    <div class="mega-cta__content">
      <h2 id="midd-mega-cta-label-878">Capital Projects</h2>
      <p>
        People make the institution.<br>
        Our buildings exist to advance their work.
      </p>
      <h3>At the College</h3>
      <p>
                  <a href="">Link Text</a>
                  <a href="">Link Text</a>
                  <a href="">Link Text</a>
              </p>
      <h3>At the Institute</h3>
      <p>
        <a href="">Link Text</a>
      </p>
    </div>
  </div>
</section>
<div class="paragraph--text text">
  <div class="container">
    <div class="col-md-10 offset-md-1">
      <hr>
  <h2>Middlebury speaks the language of the future. <br> Join the conversation.</h2>
    </div>
  </div>
</div>          </div>
    
  </div>
</div>