{% extends 'layout.twig' %}

{% block content %}
  <div class="container">
    <div class="row">
      
      <div class="paragraphs paragraphs--wide">
        {% block paragraphs %}
          {% include 'paragraphs/banner.twig' %}
          <hr>
          {% include 'paragraphs/text.twig' with {
            content: '<p>Middlebury is a private institution, but we’re also a public good. <br> And a public good should be accessible to all, regardless of financial means.</p>'
          }%}
          <hr>
          {% include 'paragraphs/video-group.twig' %}
          <hr>
          {% include 'paragraphs/text.twig' with {
            content: '<h2 style="font-weight:400">Our Commitment to Access</h2>
            <p>We must keep a Middlebury education affordable.</p> 
<p>Need-blind in enrollment, we admit the most qualified students and meet every student’s full demonstrated financial need.</p>
<a>Read Our Full Statement</a>
<hr>
<h2 style="font-weight:400">Gift Opportunites | Your Impact</h2>
<p>With Your Investment, Together We Will . . .</p>
<a>Read our full statement</a>
<hr>
            '
          }%}
          {% include 'paragraphs/tri-story.twig' with {
            title: 'Your Philanthropy in Action',
            subheading: false
          } %}
        {% endblock %}
      </div>
      
    </div>
  </div>
{% endblock %}