<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="css/main.css" />
  <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;700&family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <nav aria-labelledby="midd-skip-link">
    <a href="#main" class="visually-hidden visually-hidden-focusable" id="midd-skip-link">Skip to main content</a>
  </nav>
  <div style="display:none">
    {% include 'partials/icons.twig' %}
  </div>
  {% include 'partials/header.twig' %}

  <main id="main">
    {% if page_header %}
      {% include 'partials/page-header.twig' with {
          page_header,
          menu_items
        } %}
      {% if header_image %}
        {% include 'paragraphs/image.twig' with { name: header_image, banner: true } %}
      {% endif %}
    {% endif %}
    {% block content %}{% endblock %}
  </main>

  {% include 'partials/office-footer.twig' with {
    office_name: 'Alumni and Families',
    addr: '700 Exchange Street<br>Middlebury, VT 05753',
    tel: {
      text: '802-443-3000'
    },
    name: 'Stacie Marshall',
    contact: 'staciem@middlebury.edu<br>(802) 443-5217'
  } %}
  {% include 'partials/footer.twig' %}
  
  {% block layout_before_body_close %}{% endblock %}
  <script src="js/bundle.js" async></script>
</body>
</html>