<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="css/main.css" />
  <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;700&family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <nav aria-labelledby="midd-skip-link">
    <a href="#main" class="visually-hidden visually-hidden-focusable" id="midd-skip-link">Skip to main content</a>
  </nav>
  <div style="display:none">
    {% include 'partials/icons.twig' %}
  </div>
  {% include 'partials/header.twig' %}

  <main id="main">
    {% block content %}{% endblock %}
  </main>

  {% include 'partials/footer.twig' %}  

  <script src="js/bundle.js" async></script>
</body>
</html>