.header {
  background: $white;
  display: flex;
  color: $color-navy;
  position: relative;
  padding-right: $spacing-5;
  padding-left: $spacing-5;
  padding-bottom: $spacing-3;
  margin-bottom: $spacing-5;
  border-bottom: 3.25px solid $black;
}

.header__logo {
  padding-top: $spacing-3;
}

.header__nav {
  list-style: none;
  padding-left: $spacing-7;
  padding-top: $spacing-3;

  & .nav__item {
    float: left;

    &:not(:first-child) {
      padding-left: $spacing-4;
    }

    &:not(:last-child) {
      border-right: solid 1px #0d395b;
    }
  }

  & .nav__link {
    text-transform: capitalize;
    color: $color-navy;
    text-decoration: none;
    margin-right: $spacing-4;
    border-top: 2px solid transparent;
    transition: border-color 0.2s;

    &:hover, &:focus {
      border-top: 2px solid #0d395f;
    }
  }
}

// nav lists

.nav {
  // padding-top: $spacing-4;
  // padding-bottom: $spacing-4;
}

.nav__item {
}
