.image {
  display: flex;
  justify-content: center;

  &--banner {
    @include breakpoint(sm) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  
    @include breakpoint(lg) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

// margin is applied at .paragraphs level
.image--right {
  float: right;

  .media__caption {
    padding:0;
  }
}

.image--left {
  float: left;

  .media__caption {
    padding:0;
  }
}