.image {
  display: flex;
  justify-content: center;

  &--banner {
    & .media > .media__caption {
      padding-left: 1rem;
      padding-right: 1rem;
  
      @include breakpoint(sm) {
        padding: 0;
      }
    }
  
    @include breakpoint(sm) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  
    @include breakpoint(lg) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

// margin is applied at .paragraphs level
.image--right {
  @include breakpoint(md) {
    float: right;
  }

  @media print {
    float: none !important;
  }
}

.image--left {
  @include breakpoint(md) {
    float: left;
  }

  @media print {
    float: none !important;
  }
}