.mega-cta {
  position: relative;
  margin-top: $spacing-6;
  color: $white;

  &__back{
  }

  &__front {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  } 

  &__content {
    & h2 {
      font-family: $font-family-sans-primary;
      font-size: rem(38);
      font-weight: $font-weight-semibold;
      line-height: $line-height-5;
      text-align: center;
      letter-spacing: $letter-spacing;
      padding-bottom: $spacing-2;
    }

    & p {
      font-weight: $font-weight-medium;
      font-size: $typescale-6;
      line-height: $line-height-5;
      margin: 0;
    }

    & h3 {
      font-size: $typescale-4;
      font-weight: $font-weight-bold;
      padding-top: $spacing-5;
      line-height: $line-height-9;
    }

    & p > a {
      line-height: $line-height-9;
      font-size: $typescale-3;
      font-weight: $font-weight-semibold;
      padding-right: rem(12);

      &:not(:first-child) {
        padding-left: rem(12);
      }

      &:not(:last-child) {
        border-right: 1px solid $white;
      }

      color: $white;
    }
  }
}