.section {
  &__header {
    margin-bottom: $spacing-5;
    text-align: center;

    @include breakpoint(lg) {
      margin-bottom: $spacing-6;
    }
  }

  &__title {
    font-size: $typescale-7;
    line-height: $line-height-5;
    margin-bottom: $spacing-2;

    @include breakpoint(md) {
      font-size: rem(32);
    }

    @include breakpoint(lg) {
      font-size: rem(38);
    }
  }

  &__blurb {
    font-size: $typescale-6;
    line-height: $line-height-5;
    font-weight: $font-weight-light;
    margin: 0;

    @include breakpoint(md) {
      font-size: $typescale-7;
      line-height: 1.8; 
    }
  }
}