.text {
  text-align: center;

  .typography & {
    text-align: initial;
  }

  & h2,
  & .h2 {
    @include h1;
    font-weight: $font-weight-normal;
  }

  & p {
    @include h2;
    font-weight: $font-weight-light;
  }

  & a {
    font-weight: $font-weight-light;
    font-size: $typescale-4;
    line-height: $line-height-6;
    // text-transform: capitalize;
  }

  .paragraphs--wide & > &--container {
    @include make-container;
    @media print {
      padding-left: 0;
      padding-right: 0;
    }

    @include breakpoint(md) {
      @include make-col(10);
      @include make-col-offset(1);
    }
  }
}