.video {

}

.video__content {
  position: relative;
  padding-top: percentage(9 / 16);
  height: 0;
  overflow: hidden;

  & iframe,
  img {
    @include absolute-fill;
  }
}

.video__front {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: $spacing-3;
  padding-top: $spacing-3;
  z-index: 10;

  &--gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(32, 32, 32, 0.9) 100%);
  }
}

.video__title {
  color: $white;
  padding-bottom: $spacing-3;
  font-weight: $font-weight-semibold;
  line-height: $line-height-4;
}

.video__link {
  &:after {
    content: '';
    display: block;
    background: rgba($color-navy, 0.5);
    opacity: 0;
    transition: opacity 0.2s;
    @include absolute-fill;
  }

  &:hover,
  &:focus {
    &:after {
      opacity: 1;
    }
  }
}

.video__button {
  bottom: $spacing-3;
  padding: $spacing-2;
  background-color: $white;

  &--text-before {
    border-right: 0.25px solid $color-navy;
    padding-right: $spacing-3;
    font-weight: $font-weight-light;
  }

  &--text-after {
    font-size: $typescale-4;
    line-height: $line-height-3;
    padding-left: $spacing-3;
    text-transform: uppercase;
    font-weight: $font-weight-semibold;
  }

  &--play {
    font-size: $typescale-0;
    margin-bottom: $spacing-1;
  }
}

.video__text {
  font-size: $typescale-3;

  a {
    @include link-border;
  }
}