@mixin breakpoint($breakpoint) {
  @if $breakpoint == '' {
    @content;
  } @else {
    $value: map-get($breakpoints, $breakpoint);

    // If the key exists in the map
    @if $value != '' {
      // Prints a media query based on the value
      @media only screen and (min-width: $value) {
        @content;
      }
    } @else {
      // If the key doesn't exist in the map
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
    }
  }
}

@mixin clearfix() {
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

@mixin h1 {
  font-size: $typescale-8;
  line-height: $line-height-5;
  font-family: $font-family-sans-primary;
}

@mixin h2 {
  font-size: $typescale-7;
  line-height: $line-height-6;
  font-family: $font-family-sans-primary;
}

@mixin small-caps {
  font-family: $font-family-sans-primary;
  font-size: $typescale-2;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: $font-weight-semibold;
}

@mixin absolute-fill {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@mixin link-border() {
  border-bottom: 1px solid currentColor;
  text-decoration: none;

  &:hover {
    border-bottom-color: transparent;
    text-decoration: none;
  }
}

@mixin link-external() {
  &:after {
    display: inline-block;
    content: url('/img/external-link.svg');
    height: 1em;
    width: 1em;
    font-size: $typescale-2;
    margin-left: $spacing-1;
  }
}

@mixin ie {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
}