// Text alignment

@each $breakpoint, $variant in $responsive-variants {
  @include breakpoint($breakpoint) {
    .text#{$variant}-left {
      text-align: left !important;
    }

    .text#{$variant}-right {
      text-align: right !important;
    }

    .text#{$variant}-center {
      text-align: center !important;
    }
  }
}