<div class="paragraph--banner banner">
  <div class="container">
    <div class="banner__front">
      <div class="banner__content">
        <h1>{{title}}</h1>
      </div>
    </div>
    <figure class="banner__back">
      {% include 'partials/img.twig' with {
        name: 'banner_image'
      } %}
    </figure>
  </div>
</div>