<div class="paragraph--banner banner">
  <div class="container px-0">
    <figure class="banner__back">
      {% include 'partials/img.twig' with {
        name: 'banner_image'
      } %}
    </figure>
    <div class="banner__front">
      <div class="banner__content">
        <h1>Academic<br>Excellence</h1>
      </div>
    </div>
  </div>
</div>