{% set id = random(1234) %}
<section class="paragraph--mega-cta mega-cta section" aria-labelledby="midd-mega-cta-label-{{id}}">
  <figure class="mega-cta__back">
    {% include 'partials/img.twig' with { name: 'mega_cta' } %}
  </figure>

  <div class="mega-cta__front">
    <div class="mega-cta__content">
      <h2 id="midd-mega-cta-label-{{id}}">Capital Projects</h2>
      <p>
        People make the institution.<br>
        Our buildings exist to advance their work.
      </p>
      <h3>At the College</h3>
      <p>
        {% for i in 0..2 %}
          <a href="">Link Text</a>
        {% endfor %}
      </p>
      <h3>At the Institute</h3>
      <p>
        <a href="">Link Text</a>
      </p>
    </div>
  </div>
</section>