<figure class="paragraph--quote">
  <div class="container">
    <blockquote class="quote quote__text">
      <span class="{{ marks ? "quote--marks" : "" }}">{{quote_text}}</span>
      {% if quote_cite %}
        <figcaption class="quote__cite">{{quote_cite}}</figcaption>
      {% endif %}
    </blockquote>
  </div>
</figure>