<nav class="mega-menu" id="header__nav-handle" aria-labelledby="midd-drawer-nav-label">
  <h2 class="visually-hidden" id="midd-drawer-nav-label">Navigation</h2>
  <div class="container px-0">
    <div class="col-lg-9 px-0 mega-menu__wrapper">
      <div class="row ml-0">
          {% for name in menus.items %}
            <div class="col-lg-4 mega-menu__sub-nav">
              <div class="mega-menu__items">
                <h3><a href="#">{{ name.text }}</a></h3>
                <ul>
                  {% for i in 0..random(3) %}
                  <li>
                    <a href="#">{{ capital_projects.items[i].text }}</a>
                    {% if env.test or random(1) %}
                      <ul>
                        {% for j in 0..random(1) %}
                          <li><a href="#">{{ submenu.items[j].text }}</a></li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endfor %}
      </div>
    </div>
  </div>
</nav>