<div class="office-footer">
  <div class="container">
    <div class="office-footer__row">
      <div class="office-footer__col">
        <h3 class="mb-1">
          {{ office_name }}
        </h3>
        <p>
          {{ addr }}
        </p>
      </div>
      <div class="office-footer__col">
        <h3 class="mb-1">
          {{ name }}
        </h3>
        <p>
          <a href="#">{{ contact }}</a>
        </p>
      </div>
    </div>
  </div>
</div>
