<div class="container">
  <div class="row">
    <div class="col-lg-3">
      {% block nav %}

      {% endblock %}
    </div>
    <div class="col-lg-8">
      {% block page_content %}

      {% endblock %}
    </div>
  </div>
</div> 