<ul class="list list--dividers mb-5 mb-sm-7 mt-2 mt-md-4 mt-lg-0">
  <li class="list__item">
    {% include 'partials/story.twig' with {
      id: 1,
    } %}
  </li>

  {% for i in 0..3 %}
    <li class="list__item">
      {% include 'partials/story.twig' with {
        id: i + 1
      } %}
    </li>
  {% endfor %}

</ul>