{% include 'paragraphs/video.twig' %}

{% include 'paragraphs/text.twig' with {
  content: '<hr>
  <h2>Because understanding the world and finding value in our differences has never been more urgent than it is today.</h2>
  <hr> '
}%}

{% include 'paragraphs/tri-story.twig' %}

<hr>

{% include 'paragraphs/mega-cta.twig' %}

{% include 'paragraphs/text.twig' with {
  content: ' <hr>
  <h2 class="text-center">Middlebury speaks the language of the future. <br> Join the conversation.</h2>'
} %}