{% include 'paragraphs/video.twig' %}

{% include 'paragraphs/text.twig' with {
  content: '<hr>
  <p>Because understanding the world and finding value in our differences has never been more urgent than it is today.</p>
  <hr>'
}%}

{% include 'paragraphs/tri-story.twig' with {
  title: 'What Really Matters Here',
  subheading: 'Our Priorities, Your Opportunity'
} %}

<hr>

{% include 'paragraphs/mega-cta.twig' %}

{% include 'paragraphs/text.twig' with {
  content: '<hr>
  <h2>Middlebury speaks the language of the future. <br> Join the conversation.</h2>'
} %}